{
  "Globals": {
    "NODE_ENV": "<REDACTED>",
    "SECURITY_JWT_KEY": "<REDACTED>",
    "SECURITY_JWT_ACCESS_EXPIRATION": "<REDACTED>",
    "SECURITY_JWT_REFRESH_EXPIRATION": "<REDACTED>",
    "SECURITY_JWT_USER_GENERATOR": "<REDACTED>",
    "SECURITY_JWT_HASHED_SECRET": "<REDACTED>",
    "BCRYPT_SALT_ROUNDS": "<REDACTED>",
    "DATABASE_URL": "postgresql://<REDACTED>",
    "LAMBDA_EXECUTION_ROLE": "<REDACTED>",
    "S3_VIDEOS_BUCKET": "<REDACTED>",
    "S3_REGION": "<REDACTED>",
    "AWS_ACCESS_KEY_ID": "<REDACTED>",
    "AWS_SECRET_ACCESS_KEY": "REDACTED"
  },
  "Functions": [
    "AuthRegisterFunction",
    "AuthLoginFunction",
    "AuthRefreshFunction",
    "FindUserDetailsByUserIdFunction",
    "GetVideosFunction",
    "GeneratePresignedUrlFunction",
    "SaveVideoFunction"
  ]
}